In [1]:
import pandas as pd
import io
import requests

In [5]:
url="https://covid.ourworldindata.org/data/owid-covid-data.csv"
s=requests.get(url).content
c=pd.read_csv(io.StringIO(s.decode('utf-8')))
c.shape

(234272, 67)

In [2]:
df = pd.read_csv('./dummy.csv')

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234267,ZWE,Africa,Zimbabwe,2022-11-07,257893.0,0.0,0.0,5606.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
234268,ZWE,Africa,Zimbabwe,2022-11-08,257893.0,0.0,0.0,5606.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
234269,ZWE,Africa,Zimbabwe,2022-11-09,257893.0,0.0,0.0,5606.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
234270,ZWE,Africa,Zimbabwe,2022-11-10,257893.0,0.0,0.0,5606.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
234271,ZWE,Africa,Zimbabwe,2022-11-11,257893.0,0.0,0.0,5606.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [4]:
df = df[["iso_code", "date", "total_cases"]]

In [5]:
df

       iso_code        date  total_cases
0           AFG  2020-02-24          5.0
1           AFG  2020-02-25          5.0
2           AFG  2020-02-26          5.0
3           AFG  2020-02-27          5.0
4           AFG  2020-02-28          5.0
...         ...         ...          ...
234267      ZWE  2022-11-07     257893.0
234268      ZWE  2022-11-08     257893.0
234269      ZWE  2022-11-09     257893.0
234270      ZWE  2022-11-10     257893.0
234271      ZWE  2022-11-11     257893.0

[234272 rows x 3 columns]

In [6]:
df.describe()

        total_cases
count  2.210790e+05
mean   4.577891e+06
std    2.854854e+07
min    1.000000e+00
25%    4.611000e+03
50%    5.132700e+04
75%    5.408210e+05
max    6.346466e+08

In [7]:
df.isnull().values.any()

True

In [8]:
nan_rows = df[df['total_cases'].isnull() | df['iso_code'].isnull() | df['date'].isnull()]

In [9]:
nan_rows

Empty DataFrame
Columns: [iso_code, date, total_cases]
Index: []